{% extends 'compras/layout.html' %}
{% load static %}
{% block title %}Formulario de Usuario{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">{{ form.instance.pk|yesno:"Editar Usuario,Nuevo Usuario" }}</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    {% if form.username %}
                    <!-- Username -->
                    <div class="col-md-6 mb-3">
                        <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de Usuario</label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="text-danger small">{{ form.username.errors }}</div>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if form.password %}
                    <!-- Password -->
                    <div class="col-md-6 mb-3">
                        <label for="{{ form.password.id_for_label }}" class="form-label">Contraseña</label>
                        {{ form.password }}
                        {% if form.password.errors %}
                            <div class="text-danger small">{{ form.password.errors }}</div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>

                <!-- Status -->
                <div class="row">
                    <div class="col-md-12 mb-4">
                        
                        <label for="{{ form.status.id_for_label }}" class="form-label">Estatus</label>
                        {{ form.status }}
                        {% if form.status.errors %}
                            <div class="text-danger small">{{ form.status.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <!-- Botones -->
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success me-2">Guardar</button>
                    <a href="{% url 'usuarios:lista' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
